
.book-container {
    perspective: 1000px; /* Gives the 3D effect */
}

.book-image {
    max-width: 80%;
    height: auto;
    /* transition: transform 0.6s ease-in-out; */
    transform-origin: left center; 
}

.book-container:hover .book-image {
    /* transform: rotateY(-20deg) scale(1.1);  */
}